{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Games List</h1>
            <p>マスターデータ編集用</p>
            <p>
                <a href="javascript:void(0);" class="btn btn-warning" role="button" data-trigger="upsert-from-egs-game" data-action-url="{{ path('admin_game_upsert_from_egs_game') }}">DATA MERGE</a>
            </p>
        </div>
    </div>
    {% include 'game/search-form.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            {% if games is defined and games is not empty %}
                <table class="table table-hover table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th class="col-sm-3"></th>
                        <th class="">Name</th>
                        <th class="col-sm-1">Id</th>
                        <th class="col-sm-1">Releaseymd</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in games %}
                        <tr>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-default" role="button" data-trigger="open-information-modal" data-action-url="{{ path('admin_game_show', { 'id': entry.id }) }}"><i class="fa fa-info-circle" aria-hidden="true" style="width: 12px; height: 12px;"></i></a>
                                {% if entry.isDone is defined %}
                                    <a href="javascript:void(0);" target="_blank" class="btn {% if entry.isDone %}btn-success{% else %}btn-default{% endif %}" role="button" data-trigger="toggle-game-is-done" data-action-url="{{ path('admin_game_toggle_game_is_done', { 'id': entry.id }) }}"><i class="fa fa-check" aria-hidden="true" style="width: 12px; height: 12px;"></i></a>
                                {% else %}
                                    <div class="btn btn-default disabled"><i class="fa" aria-hidden="true" style="width: 12px; height: 12px;"></i></div>
                                {% endif %}
                                {% if entry.isNormal is defined %}
                                    <a href="javascript:void(0);" target="_blank" class="btn {% if entry.isNormal %}btn-success{% else %}btn-danger{% endif %}" role="button" data-trigger="toggle-game-is-normal" data-action-url="{{ path('admin_game_toggle_game_is_normal', { 'id': entry.id }) }}">N</a>
                                {% else %}
                                    <div class="btn btn-default disabled"><i class="fa" aria-hidden="true" style="width: 12px; height: 12px;"></i></div>
                                {% endif %}
                                {% if entry.isDeleted is defined %}
                                    <a href="javascript:void(0);" target="_blank" class="btn {% if entry.isDeleted %}btn-danger{% else %}btn-default{% endif %}" role="button" data-trigger="toggle-game-is-deleted" data-action-url="{{ path('admin_game_toggle_game_is_deleted', { 'id': entry.id }) }}"><i class="fa fa-ban" aria-hidden="true" style="width: 12px; height: 12px;"></i></a>
                                {% else %}
                                    <div class="btn btn-default disabled"><i class="fa" aria-hidden="true" style="width: 12px; height: 12px;"></i></div>
                                {% endif %}
                                {#<a href="https://www.google.co.jp/search?q=エロゲ ゲーム {{ entry.name }}" target="_blank" class="btn btn-default" role="button"><i class="fa fa-search" aria-hidden="true" style="width: 12px; height: 12px;"></i></a>#}
                            </td>
                            <td>
                                {% if entry.url is defined %}
                                    {% if entry.url is empty %}
                                        {{ entry.egsGame.name }}
                                    {% else %}
                                        <a href="{{ entry.url }}" target="_blank">{{ entry.egsGame.name }}</a>
                                    {% endif %}
                                {% else %}
                                    {{ entry.egsGame.name }}
                                {% endif %}
                            </td>
                            <td>{{ entry.id }}</td>
                            <td>{% if entry.egsGame.releaseYmd %}{{ entry.egsGame.releaseYmd|date('Y-m') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>NO DATA</p>
            {% endif %}
        </div>
    </div>
    {% include 'game/search-form.html.twig' %}
    <div class="row">
        <div class="col-sm-12">
            <h3>作風の判断基準</h3>
            <ul>
                <li>ノーマル = ともすればコンシュマで出せそうなやつ。恋愛系のエロゲ。</li>
                <li>
                    アブノーマル = 絶対コンシュマで出ないだろってレベルのやつ。闇深系のエロゲ。下品すぎるやつ
                    <ul>
                        <li>公式サイトがしっかりしてない</li>
                        <li>ヒロインが1 - 2人のもの ≒ 低価格帯のエロ目的のもの</li>
                        <li>
                            以下のキーワードがチラホラしてたら
                            <ul>
                                <li>女体化</li>
                                <li>ネトリ</li>
                                <li>ビッチ</li>
                                <li>熟女</li>
                                <li>凌辱</li>
                                <li>痴漢</li>
                                <li>調教</li>
                                <li>グロテスク</li>
                                <li>蟲</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h3>DELETEDにしてる基準</h3>
            <ul>
                <li>リンク切れ(公式サイトなし)</li>
                <li>乙女ゲー</li>
                <li>キャラメイク系</li>
                <li>三国～系、戦国～系</li>
                <li>総集編</li>
                <li>ルート追加のみのアペンドディスク</li>
                <li>リマスター版</li>
            </ul>
        </div>
    </div>
{% endblock %}
