<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <p>{{ egsGame.id }}</p>
            <p class="" style="font-size: large; font-weight: bold">{{ egsGame.name }}</p>
            <p>({{ egsGame.nameKana }})</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <tbody>
                <tr>
                    <th>Egsbrandid</th>
                    <td>{{ egsGame.egsBrandId }}</td>
                </tr>
                <tr>
                    <th>Releaseymd</th>
                    <td>{% if egsGame.releaseYmd %}{{ egsGame.releaseYmd|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Url</th>
                    <td><a href="{{ egsGame.url }}" target="_blank">{{ egsGame.url }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
