{% extends 'admin/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Egsgames list</h1>
            <p>マスターデータ閲覧用</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form action="" name="game-search-form" id="game-search-form" data-action-url="{{ path('admin_egsgame_index') }}">
                <label for="year">年: </label>
                <select name="year">
                    {% for entry in egsGameYears %}
                        <option value="{{ entry.value }}" {% if entry.selected %}selected{% endif %}>{{ entry.htmlText }}</option>
                    {% endfor %}
                </select>
                <label for="month">月: </label>
                <select name="month">
                    {% for entry in egsGameMonths %}
                        <option value="{{ entry.value }}" {% if entry.selected %}selected{% endif %}>{{ entry.htmlText }}</option>
                    {% endfor %}
                </select>
                <label for="include_deleted">削除も含む: </label>
                <select name="include_deleted">
                    {% for entry in logicalTypes %}
                        <option value="{{ entry.value }}" {% if entry.selected %}selected{% endif %}>{{ entry.htmlText }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if egsGames is defined and egsGames is not empty %}
                <table class="table table-hover table-condensed table-responsive">
                    <thead>
                    <tr>
                        <th class="col-sm-2"></th>
                        <th class="">Name</th>
                        <th class="col-sm-1">Id</th>
                        <th class="col-sm-1">Releaseymd</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entry in egsGames %}
                        <tr>
                            <td>
                                <a href="javascript:void(0);" class="btn btn-default" role="button" data-trigger="open-information-modal" data-action-url="{{ path('admin_egsgame_show', { 'id': entry.id }) }}"><i class="fa fa-info-circle" aria-hidden="true" style="width: 12px; height: 12px;"></i></a>
                                {% if entry.url is defined and entry.url is not empty %}
                                    <a href="{{ entry.url }}" target="_blank" class="btn btn-default" role="button"><i class="fa fa-external-link" aria-hidden="true" style="width: 12px; height: 12px;"></i></a>
                                {% else %}
                                    <div class="btn btn-default disabled"><i class="fa" aria-hidden="true" style="width: 12px; height: 12px;"></i></div>
                                {% endif %}
                                {#<a href="https://www.google.co.jp/search?q=エロゲ ゲーム {{ entry.name }}" target="_blank" class="btn btn-default" role="button"><i class="fa fa-search" aria-hidden="true" style="width: 12px; height: 12px;"></i></a>#}
                            </td>
                            <td>{{ entry.name }}</td>
                            <td>{{ entry.id }}</td>
                            <td>{% if entry.releaseYmd %}{{ entry.releaseYmd|date('Y-m') }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>NO DATA</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
