{% extends 'egsgame/layout.html.twig' %}

{% block content %}
    <h1>Egsgames list</h1>
    <p>Filter: 年別</p>
    <p>Filter: 削除フラグ</p>
    <table class="table table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th class="col-sm-1">Id</th>
                {#<th>Egsbrandid</th>#}
                <th class="col-sm-4">Name</th>
                {#<th>Namekana</th>#}
                <th class="col-sm-1">Releaseymd</th>
                <th class="col-sm-1">Url</th>
                <th class="col-sm-1">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for egsGame in egsGames %}
            <tr>
                <td><a href="{{ path('admin_egsgame_show', { 'id': egsGame.id }) }}">{{ egsGame.id }}</a></td>
                {#<td>{{ egsGame.egsBrandId }}</td>#}
                <td><a href="https://www.google.co.jp/search?q=エロゲ {{ egsGame.name }}" target="_blank">{{ egsGame.name }}</a></td>
                {#<td>{{ egsGame.nameKana }}</td>#}
                <td>{% if egsGame.releaseYmd %}{{ egsGame.releaseYmd|date('Y-m') }}{% endif %}</td>
                <td>
                    {% if egsGame.url is empty %}
                        {# nothing to show #}
                    {% else %}
                        <a href="{{ egsGame.url }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin_egsgame_show', { 'id': egsGame.id }) }}" class="btn btn-default" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="{{ path('admin_egsgame_edit', { 'id': egsGame.id }) }}" class="btn btn-default" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('admin_egsgame_new') }}">Create a new egsGame</a>
        </li>
    </ul>
{% endblock %}
