{% extends 'egsbrand/layout.html.twig' %}

{% block content %}
    <h1>Egsbrands list</h1>
    <p>ただの閲覧用</p>
    <table class="table table-hover table-condensed table-responsive">
        <thead>
        <tr>
            <th class="col-sm-1">Id</th>
            <th class="col-sm-6">Name</th>
            {#<th>Namekana</th>#}
            <th class="col-sm-1">Url</th>
            <th class="col-sm-1">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for egsBrand in egsBrands %}
            <tr>
                <td><a href="{{ path('admin_egsbrand_show', { 'id': egsBrand.id }) }}">{{ egsBrand.id }}</a></td>
                <td><a href="https://www.google.co.jp/search?q=エロゲ {{ egsBrand.name }}" target="_blank">{{ egsBrand.name }}</a></td>
                {#<td class="col-sm-4">{{ egsBrand.nameKana }}</td>#}
                <td>
                    {% if egsBrand.url is empty %}
                        {# nothing to show #}
                    {% else %}
                        <a href="{{ egsBrand.url }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('admin_egsbrand_show', { 'id': egsBrand.id }) }}" class="btn btn-default" role="button"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="{{ path('admin_egsbrand_edit', { 'id': egsBrand.id }) }}" class="btn btn-default" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('admin_egsbrand_new') }}">Create a new egsBrand</a>
        </li>
    </ul>
{% endblock %}
