{% extends 'admin/layout.html.twig' %}

{% block content %}
    <h1>Egsbrands list</h1>
    <p>マスターデータ閲覧用</p>
    <table class="table table-hover table-condensed table-responsive">
        <thead>
        <tr>
            <th class="col-sm-2">Url</th>
            <th class="">Name</th>
            <th class="col-sm-1">Id</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in egsBrands %}
            <tr>
                <td>
                    <a href="javascript:void(0);" class="btn btn-default" role="button" data-trigger="open-infomation-modal" data-action-url="{{ path('admin_egsbrand_show', { 'id': entry.id }) }}"><i class="fa fa-info-circle" aria-hidden="true" style="width: 12px; height: 12px;"></i></a>
                    {% if entry.url is defined and entry.url is not empty %}
                        <a href="{{ entry.url }}" target="_blank" class="btn btn-default" role="button"><i class="fa fa-external-link" aria-hidden="true" style="width: 12px; height: 12px;"></i></a>
                    {% else %}
                        <div class="btn btn-default disabled"><i class="fa" aria-hidden="true" style="width: 12px; height: 12px;"></i></div>
                    {% endif %}
                    {#<a href="https://www.google.co.jp/search?q=エロゲ ブランド {{ entry.name }}" target="_blank" class="btn btn-default" role="button"><i class="fa fa-search" aria-hidden="true" style="width: 12px; height: 12px;"></i></a>#}
                </td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#<ul>#}
    {#<li>#}
    {#<a href="{{ path('admin_egsbrand_new') }}">Create a new egsBrand</a>#}
    {#</li>#}
    {#</ul>#}
{% endblock %}
