<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <p>{{ egsBrand.id }}</p>
            <p class="" style="font-size: large; font-weight: bold">{{ egsBrand.name }}</p>
            <p>({{ egsBrand.nameKana }})</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <tbody>
                <tr>
                    <th>Url</th>
                    <td><a href="{{ egsBrand.url }}" target="_blank">{{ egsBrand.url }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>